apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      web:
        port: 80
        expose:
          default: true
        exposedPort: 80
        redirections:
          entryPoint:
            to: websecure
            scheme: https

      websecure:
        port: 443
        expose:
          default: true
        exposedPort: 443
        tls:
          enabled: true

    additionalArguments:
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      # Let's Encrypt (HTTP-01)
      - "--certificatesresolvers.letsencrypt.acme.email=${ADMIN_EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=${ACME_PATH}/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"

    persistence:
      enabled: true
      path: ${ACME_PATH}
      size: 1Gi
